// COLORS

$primary-blue: #11A3EB;
$primary-green: #0BCE35;
$primary-orange: #FFB11F;
$primary-red: #E02D43;

$secondary-black: #0A0B0C;
$secondary-gray-1: #0A0B0C;
$secondary-gray-2: #8F96A0;
$secondary-gray-3: #D2D9DC;
$secondary-gray-4: #F0F3F7;



