
// FONTS FACE
@font-face {
  font-family: 'Din-Pro Black';
  src: url("../assets/fonts/DINProBlack.otf");
}

@font-face {
  font-family: 'Din-Pro Bold';
  src: url("../assets/fonts/DINProBold.otf");
}

@font-face {
  font-family: 'Din-Pro Light';
  src: url("../assets/fonts/DINProLight.otf");
}

@font-face {
  font-family: 'Din-Pro Medium';
  src: url("../assets/fonts/DINProMedium.otf");
}

@font-face {
  font-family: 'Din-Pro Regular';
  src: url("../assets/fonts/DINProRegular.otf");
}
